<%- include("partials/header"); -%>
    <div class="special-navbar">
      <h2 class="white-color-txt">Hercules' Design</h2>
    </div>

    <div class="jumbotron">
      <h1><%= title %></h1>
    </div>
    
    <div class="fullNote">
      <p><%= content %></p>
    </div>


  </body>
</html>
