<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HomePage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overpass&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="special-navbar">
      <h2 class="white-color-txt">Hercules' Design</h2>
    </div>

    <form class="" action="/add" method="post">
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Title</span>
          </div>
          <input type="text" name="titleGiven" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
        </div>


        <!-- Text area -->
        <!-- <textarea class="form-control" name="textArea" id="exampleFormControlTextarea1" rows="5"></textarea> -->
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Content</span>
          </div>
          <textarea row="5" name="textArea" class="form-control" aria-label="With textarea"></textarea>
        </div>


        <!-- Button -->
        <div class="container">
          <div class="row">
              <div class="col-md-12 text-right">
                  <button type="submit" class="btn btn-primary">Add</button>
              </div>
          </div>
        </div>


      </div>
    </form>
    <div class="notes-container">
      <% listNotes.forEach(function(post){ %>
        <div class="note">
          <h4><%= post.title %></h4>
          <p><%= post.content %></p>
        </div>
      <% }) %>
    </div>

  </body>
</html>
