body{
  font-family: 'Overpass', sans-serif;
  background-color: #fafaff;
}


a{
  color:black;
}
a:hover{
  text-decoration: none;
}

h2{
  margin-bottom: 0;
}


/* classes */

.special-navbar{
  background-color: #2e70ff;
  padding: 30px;
}
.white-color-txt{
  color:white;
}
.notes-container{
  margin: 5%;
}

.note{
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.fullNote{
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  margin: 1% 8% 2% 8% ;
}

/* bootstrap classes */
.jumbotron{
  margin: 5% 8% 2% 8% ;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 1.5%;
}

.btn{
  padding: 0.35rem 0.75rem 0.34rem 0.75rem
}

.col-md-12{
  padding: 20px 0px 0px 0px;
}
.form-group{
  margin: 5% 31% 2% 31% ;
}

.form-control{
  text-align: center;
}
